.btn {
  padding: 5px 25px;
  border-radius: 4px;
  border: none;
  transition: 300ms;
}

.btn-primary {
  background-color: var(--light-accent-color);
  color: var(--white);
  border: 2px solid var(--light-accent-color);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--light-accent-color);
  border: 2px solid currentColor;
}

.btn-secondary {
  background-color: transparent;
  color: var(--white);
  border: 2px solid currentColor;
}

.btn-secondary:hover {
  background-color: var(--dark-accent-color);
  color: var(--white);
  border: 2px solid var(--dark-accent-color);
}
