.call-to-action {
  padding: 20px;
}

.call-to-action__container {
  background-color: var(--light-accent-color);
  width: 100%;
  padding: 20px;
  color: var(--white);
}

.call-to-action__container .texts {
  margin-bottom: 20px;
}
