.header {
  padding: 100px 20px 50px 20px;
  background-color: var(--dark-accent-color);
  color: var(--white);
  text-align: center;
}

.header .body-text {
  margin: 10px 0 20px 0;
  color: var(--gray);
}

.header .btn .body-text {
  margin: 0;
}

.header__img {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 50px;
  background-color: red;
  /* 
    to make the placeholder centered 
    but delete when image is placed
  */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header .header__img {
    margin-inline: auto;
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 150px 0 100px 0;
  }

  .header .body-text {
    margin: 0;
    margin-bottom: 10px;
  }

  .header__container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
  }

  .header__img {
    margin: 0;
    aspect-ratio: 20/9;
  }
}
