.quote {
  padding: 30px 20px;
  background: var(--gray);
}

.quote em {
  display: block;
}

.quote strong {
  display: block;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .quote {
    padding: 100px 0;
  }

  .quote__container {
    width: 800px;
    margin: 0 auto;
  }
} ;
